@model IEnumerable<ProductManager.MVC.Models.CategoryViewModel>;

@{
    ViewData["Title"] = "Category Overview Page";
}

<div>
    <h1 class="text-center">Category Overview</h1>

    @if (!string.IsNullOrEmpty(ViewBag.SuccesMessage))
    {
        if (ViewBag.SuccesMessage.Contains("succesfully"))
        {
            <div class="alert alert-success" role="alert">@ViewBag.SuccesMessage</div>
        }
        else
        {
            <div class="alert alert-danger" role="alert">@ViewBag.SuccesMessage</div>
        }
    }
    
    <a asp-area="" asp-controller="Category" asp-action="CategoryCreation">Create New Category</a>

    <table class="table table-bordered">
        <thead>
            <tr class="table-primary">
                <th><input type="text" name="Name" placeholder="Name" /></th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            @foreach (CategoryViewModel category in Model)
            {
                <tr>
                    <td>@category.Name</td>
                    <td>@Html.ActionLink("Update", "CategoryModification", new { id = category.Id })</td>
                    <td>@Html.ActionLink("Delete", "CategoryDeletion", new { id = category.Id })</td>
                </tr>
            }
        </tbody>
    </table>
</div>