@model IEnumerable<ProductManager.MVC.Models.CategoryViewModel>;

@{
    ViewData["Title"] = "Category Overview Page";
}

<div id="CategoryOverview">
    @if (!string.IsNullOrEmpty(ViewBag.SuccesMessage))
    {
        if (ViewBag.SuccesMessage.Contains("succesfully"))
        {
            <div class="alert alert-success" role="alert">@ViewBag.SuccesMessage</div>
        }
        else
        {
            <div class="alert alert-danger" role="alert">@ViewBag.SuccesMessage</div>
        }
    }

    <a asp-area="" asp-controller="Category" asp-action="CategoryCreation">Create New Category</a>
    <table id="CategoryTable">
        <tr>
            <form method="get">
            <th><input name="Name" placeholder="Name" /><button>&#8639;</button></th>
            </form>
        </tr>

        @foreach (CategoryViewModel category in Model)
        {
            <tr>
                <td>@category.Name</td>
                <td>@Html.ActionLink("Update", "CategoryModification", new { id = category.Id })</td>
                <td>@Html.ActionLink("Delete", "CategoryDeletion", new { id = category.Id })</td>
            </tr>
        }

    </table>
    <button>&lt;</button>
    <button>&gt;</button>
</div>