@model IEnumerable<ProductManager.MVC.Models.ProductViewModel>;

@{
    ViewData["Title"] = "Product Overview Page";
}

<div>
    <h1 class="text-center">Product Overview</h1>

    @if (!string.IsNullOrEmpty(ViewBag.SuccesMessage))
    {
        if (ViewBag.SuccesMessage.Contains("succesfully"))
        {
            <div class="alert alert-success" role="alert">@ViewBag.SuccesMessage</div>
        }
        else
        {
            <div class="alert alert-danger" role="alert">@ViewBag.SuccesMessage</div>
        }
    }

    <a asp-area="" asp-controller="Product" asp-action="ProductCreation">Create New Product</a>

    <table class="table table-bordered">
        <thead>
            <tr class="table-primary">
                <form method="get">
                <th><input name="Name" placeholder="Name" /></th>
                <th><input name="Brand" placeholder="Brand" /></th>
                <th><input name="Category" placeholder="Category" /></th>
                </form>
                <th>Price</th>
                <th>Contents</th>
                <th>Unit</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            @foreach (ProductViewModel product in Model)
            {
                <tr>
                    <td>@product.Name</td>
                    <td>@product.Brand</td>
                    <td>@product.CategoryName</td>
                    <td>@product.Price</td>
                    <td>@product.Contents</td>
                    <td>@product.Unit</td>
                    <td>@Html.ActionLink("Update", "ProductModification", new { id = product.Id })</td>
                    <td>@Html.ActionLink("Delete", "ProductDeletion", new { id = product.Id })</td>
                </tr>
            }
        </tbody>
    </table>
</div>