@using ProductManager.Core

@model ProductViewModel

@{
    ViewData["title"] = "Product Modification Page";
}

<div class="text-center">
    <h1>Product Modification</h1>
    <form method="post">
        <p>
            <label>Name: </label>
            <input type="text" name="Name" value="@Model.Name" />
        </p>
        <p>
            <label>Brand: </label>
            <input type="text" name="Brand" value="@Model.Brand" />
        </p>
        <p>
            <label>Category: </label>
            <select>
                <option value="">...</option>
                @if (ViewBag.Categories != null)
                {
                    foreach (string category in ViewBag.Categories)
                    {
                        if (category == Model.CategoryName)
                        {
                            <option value="@category" selected>@category</option>
                        }
                        else
                        {
                            <option value="@category">@category</option>
                        }
                    }
                }
            </select>
        </p>
        <p>
            <label>Price: </label>
            <input type="text" name="Price" min="0" onkeypress="return event.charCode >= 48 && event.charCode <= 57 || event.charCode == 190" value="@Model.Price" />
        </p>
        <p>
            <label>Contents: </label>
            <input type="text" name="Contents" min="0" onkeypress="return event.charCode >= 48 && event.charCode <= 57" value="@Model.Contents" />
        </p>
        <p>
            <label>Unit: </label>
            <select name="Unit">
                @if(Model != null)
                {
                    foreach (Unit unit in Enum.GetValues(typeof(Unit)))
                    {
                        if (unit == Enum.Parse<Unit>(Model.Unit))
                        {
                            <option value="@unit" selected>@unit</option>
                        }
                        <option value="@unit">@unit</option>
                    }
                }
            </select>
        </p>
        <p>
            <input type="submit" name="Submit" value="Submit" />
        </p>
    </form>
</div>