@model IEnumerable<ProductManager.MVC.Models.ProductViewModel>;

@{
    ViewData["Title"] = "Assortment Add Product Page";
}

<div>
    <h1 class="text-center">Assortment Add Product</h1>
    <h3 class="text-center">@ViewBag.BranchName</h3>
    @if (!string.IsNullOrEmpty(ViewBag.SuccesMessage))
    {
        if (ViewBag.SuccesMessage.Contains("succesfully"))
        {
            <div class="alert alert-success" role="alert">@ViewBag.SuccesMessage</div>
        }
        else
        {
            <div class="alert alert-danger" role="alert">@ViewBag.SuccesMessage</div>
        }
    }

    <table class="table table-bordered">
        <thead>
            <tr class="table-primary">
                <form method="get">
                <th><input name="Name" placeholder="Name" /></th>
                <th><input name="Brand" placeholder="Brand" /></th>
                <th><input name="Category" placeholder="Category" /></th>
                </form>
                <th>Price</th>
                <th>Contents</th>
                <th>Unit</th>
                <th>Add</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            @foreach (ProductViewModel product in Model)
            {
                <tr>
                    <td>@product.Name</td>
                    <td>@product.Brand</td>
                    <td>@product.CategoryName</td>
                    <td>@product.Price.ToString().Replace(",", ".")</td>
                    <td>@product.Contents</td>
                    <td>@product.Unit</td>
                    <td>@Html.ActionLink("Add", "AddProductToAssortment", new { branchId = ViewBag.BranchID, productId = product.Id })</td>
                </tr>
            }
        </tbody>
    </table>
</div>